.PresentacionOrientacion {
  padding: 60px 30px;
  background-color: #f9f9f9;
}

.TituloOrientacion {
  color: #1e3a8a;
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-family: var(--titulo-secundario);
}

.planDeEstudios {
  background-color: #e0e0e0;
}
